.mobile-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
}
.welcome-content {
  position: relative;
  margin-top: 24px;
  width: 320px;
  text-align: center;
  margin: 16px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  z-index: 100
}
.logo {
 width: auto;
 height: 100px;
}

.welcome-buttons {
  position: absolute;
  bottom: 16px;
  margin: 0 auto;
  text-align: center;
}


