<div class="phone-container">
  <!-- inline styling, we pass the event to all the pages necessary. then we inject the styling in each piece necessary.  -->
  <div class="picture-name-container" style="color:<%= @event.primary_color %>;" >
    <p>the person image here</p>
    <div class="name-age">
      <p>name</p>
      <p>age</p>
    </div>
  </div>
  <div class="btns-box">
    <p>bt1 reject</p>
    <p>btn like</p>
  </div>
  <div class="desc-pictures">
    <div class="description">
      <p>description of the person here</p>
    </div>
    <p>image 2</p>
    <p>image 3</p>
    <p>image 4</p>
    <p>image 5</p>
    <p>image 6</p>
    <div class="name-age">
      <p>name</p>
      <p>age</p>
    </div>
  </div>
  <div class="btns-box">
    <p>bt1 reject</p>
    <p>btn like</p>
  </div>
</div>
