<%= render 'shared/navbar' %>
<div class="banner d-flex justify-content-around align-item-center" >

  <div class="banner-content text-center">
    <h1 style="margin-top: 30vh;color: white;font-weight: bold;font-size:4.5rem;">Vesta</h1>
    <h3 style="margin-bottom: 8vh;color: white">Match. Chat. Party</h3>
    <%= link_to "Add my event", projects_new_path, class: "btn btn-light mr-5"%>
    <%= link_to "Start to meet people", 'participant', class: "btn btn-dark"%>
  </div>

</div>
