 <%= render 'shared/navbar_mobile' %>
 <%= cl_image_tag("https://res.cloudinary.com/daw34oiuq/image/upload/v1563534407/logo_lewagon_ber9fg.png", style: "
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    padding: 4px 2px;
    height: 60px;
    width: 60px;
    object-fit: fill;
  " )%>
<div class="mt-4" style="height: 100vh;">
<div class="panel">
  <% if @match.messages.any? %>
    <div class="panel-body" style="position: relative;">
      <%= render partial: 'messages/message', collection: @match.messages%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <% end %>
</div>
<div class="text-center" style="position: fixed;bottom: 16px;width: 100%;">
  <%= render partial: 'messages/message_form', locals: {message: @message, match: @match}%>
</div>
</div>

