.btns-box {
  display: flex;
  justify-content: space-between;
}

.btn-square {
  font-size: 20px;
  padding: 8px 12px;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rba(0,0,0,.1);
  transition: .5s;
  background-color: rgb(180,180,180);
}

.btn-square:hover {
  background: rgb(170,170,170);;
}

.btn-round {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
}
