.phone-container{
  width: 320px
}
.phone-frame {
  position: absolute;
  height: 500px;
  width: 260px;
  border: solid black 1px;
  border-radius: 30px;
  box-shadow: 6px 6px 10px rgba(0,0,0,.1);
}

.statistics-frame {
  z-index: 2;
  position: absolute;
  height: 523px;
  width: 260px;
  background-color: white;
  border: solid white 1px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.index-list-event:hover {
  text-decoration: none;
  text-shadow: 0 0 4px rgba(245,245,145,.1);
  color: rgb(225,225,225);
}
