.white-filter{
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: .15;
}
.match-index-container{
  z-index: 1;
}
.front{
  z-index: 2;
}
