.messages {
  font-size: 14px;
  color: #868686;
  padding: 10px;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
}
.btn_message{
  border-radius:6px;
  border: none;
  width: 72px;
}
.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.message_content {
  margin-bottom: 0;
  margin-right: 30px;
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
