.navbar-lewagon {
  background: transparent;
  box-shadow: none;
  position: absolute;
  width:100%;
  justify-content: space-between
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  .nav-link {
   color:white;
   transition: 1s;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color:orange;
}
